:root{
  --border-radius: 10px;
  --color-dark: #dbdbdb;
  --color-norm: #ececec;
  --color-light: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse; 
}
th,
td{
  background-color: #7887ab;  
  padding: 10px;
}
thead th:first-child{
  border-top-left-radius: var(--border-radius);
  background-color: #7887ab; 
}
thead th:last-child{
  border-top-right-radius: var(--border-radius);
  background-color: #061539; 
}
thead p{
  margin: 0;
}
thead p:nth-child(2){
  padding-top: 1.2em;
  font-size: 2em;
}
tbody tr:nth-child(odd) td:nth-child(odd),
tfoot th:nth-child(odd){
  background-color: var(--color-dark);
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd),
tfoot th:nth-child(even){
  background-color: var(--color-norm);
}
tbody tr:nth-child(even) td:nth-child(odd){
  background-color: var(--color-light);
}
tbody td:not(td:first-child){
  width: 17%;
  text-align: centre;
}
tbody td:first-child{
  text-left: 2.5em;
}
tfoot th:first-child{
  border-bottom-left-radius: var(--border-radius);
}
tfoot th:last-child{
  border-bottom-right-radius: var(--border-radius);
}