table{
  min-width: 200px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* border: 3px solid red; */
  border-collapse: collapse;
  padding: 10px;
  border-radius: 10px;
}
caption{
  caption-side: bottom;
  text-align:right;
}
th,
td{
  border: 3px solid green;
  background-color: aquamarine;
}
/* td{
  width: 20%;
  vertical-align: top;
} */
td:nth-child(3){
  width: 100px;
}