:root{
  --border-radius: 10px;
  --color-dark: #dbdbdb;
  --color-norm: #ececec;
  --color-light: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse; 
}
th,
td{
  background-color: #7887ab;  
  padding: 10px;
}
thead{
  color: var(--color-light);
}
thead th:first-child{
  border-top-left-radius: var(--border-radius);
  background-color: #7887ab; 
  font-size: 1.1em;
}
thead th:last-child{
  border-top-right-radius: var(--border-radius);
  background-color: #061539; 
}
thead th:nth-child(2){
  background-color: #4f628e;
}
thead th:nth-child(3){
  background-color: #2E4172;
}
thead th:nth-child(4){
  background-color: #162955;
}
thead p{
  margin: 0;
}
thead p:nth-child(1){
  padding-top: 0.5em;
}
thead p:nth-child(2){
  padding-top: 1em;
  font-size: 2em;
}
tbody{
  font-size: 0.9em;

}
tbody tr:nth-child(odd) td:nth-child(odd),
tfoot th:nth-child(odd){
  background-color: var(--color-dark);
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd),
tfoot th:nth-child(even){
  background-color: var(--color-norm);
}
tbody tr:nth-child(even) td:nth-child(even){
  background-color: var(--color-light);
}
tbody td:not(td:first-child){
  width: 17%;
  text-align: center;
}
tbody td:first-child{
  padding-left: 40px;
}
tfoot th:first-child{
  border-bottom-left-radius: var(--border-radius);
}
tfoot th:last-child{
  border-bottom-right-radius: var(--border-radius);
}
tfoot button{
  background-color: var(--color-dark);
  padding: 10px 20px ;
  border: 1px solid #838383;
  color:#727272 ;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
